@media(max-width: 767px) {
    .navbar-toggler{
        position: absolute;
        top: 10px;
        right: 15px;
    }
    .navbar-collapse .dropdown{
        width: 30%;
        height: 43px;
    }
    .carousel-item{
        height: 80vh !important;
    }
    .ending-img, .fixed-bg{
        height: 200px !important;
    }
    .media{
        height: 350px;
    }
    .media img{
        width: 100% !important;
        height: 60% !important;
    }
    .media img, .media-body-normal{
        transform: translateY(-50px);
    }
    .media-reverse img,.media-body-reverse{
        transform: translateY(150px);
    }
}
.carousel-item{
    height: 100vh;
}
.carousel-caption, .card-overlay{
    background-color: rgba(0, 0, 0, 0.6);
}
.social-links{
    right: 0;
    bottom: 0;
    z-index: 999;
}
.fixed-bg, .ending-img{
    height: 250px;
    background-size: cover;
}
.fixed-bg{
    background: url(../photos/bg.jpg) no-repeat center center fixed;
}
.ending-img{
    background: url(../photos/fotor-ai-20250225235432.jpg) no-repeat center center fixed;
}
.movie-container .card img{
    height: 375px;
}
.movie-container .card, .honoring-section .card, .navbar{
    position: relative;
}
.movie-container .card::after, .movie-container .card::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    background-color: rgba(247, 64, 64, 0.2);
    transition: 0.5s;
}
.movie-container .card::before{
    top: 0;
    left: 0;
}
.movie-container .card::after{
    bottom: 0;
    right: 0;
}
.movie-container .card:hover::before, .movie-container .card:hover::after{
    width: 100%;
    height: 100%;
}
.card-img-overlay img{
    width: 80px;
}
.honoring-section .card{
    transition: 0.5s;
}
.honoring-section .card:hover{
    transform: scale(0.92);
}
.object-fit-cover{
    object-fit: cover;
}
.card-overlay{
    top: 0;
    left: 0;
}
.media{
    height: 350px;
}
.white-line, .line{
    height: 2px;
}

