@media(max-width: 767px) {
    .navbar-toggler{
        position: absolute;
        top: 10px;
        right: 15px;
    }
    .navbar{
        position: relative;
    }
    .search-login-countainer button{
        margin-top: 10px;
    }
    .navbar-collapse .dropdown{
        width: 30%;
        height: 43px;
    }
    .carousel-item{
        height: 80vh !important;
    }
    .ending-img, .fixed-bg{
        height: 200px !important;
    }
    .media{
        height: 350px;
        overflow: hidden;
    }
    .media img{
        width: 100% !important;
        height: 60% !important;
        object-fit: cover;
    }
    .media img, .media-body-normal{
        transform: translateY(-50px);
    }
    .media-reverse img,.media-body-reverse{
        transform: translateY(150px);
    }
    .line{
        width: 25% !important;
    }
}
.carousel-item{
    height: 100vh;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.social-links{
    font-size: 30px;
    width: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
}
.fixed-bg{
    background: url(../photos/bg.jpg) no-repeat center center fixed;
    height: 250px;
    background-size: cover;
}
.ending-img{
    background: url(../photos/bg6.gif) no-repeat center center fixed;
    height: 250px;
    background-size: cover;
}
.movie-container .card img{
    width: 100%;
    height: 375px;
    object-fit: cover;
}
.card-title{
    font-size: 18px;
}
.movie-container .card{
    position: relative;
}
.movie-container .card::after, .movie-container .card::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    background-color: rgba(247, 64, 64, 0.2);
    transition: 0.5s;
}
.movie-container .card::before{
    top: 0;
    left: 0;
}
.movie-container .card::after{
    bottom: 0;
    right: 0;
}
.movie-container .card:hover::before, .movie-container .card:hover::after{
    width: 100%;
    height: 100%;
}
.card-img-overlay img{
    width: 80px;
}
body{
    overflow-x: hidden;
}
.honoring-section .card{
    position: relative;
    height: 400px;
    transition: 0.5s;
}
.honoring-section .card:hover{
    transform: scale(0.92);
}
.card-img-top{
    height: 100%;
    object-fit: cover;
}
.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.list-group-item{
    font-size: 13px;
}
.media{
    height: 350px;
    overflow: hidden;
    object-fit: cover;
}
.media-body{
    height: 340px;
}
.line{
    height: 3px;
    width: 7%;
    transition: 0.1s;
}
.media:hover .line{
    width: 10%;
}
.instagram-icon i{
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.white-line{
    width: 100%;
    height: 2px;
    background-color: #fff;
}

